.menu {
  margin-top: 16px;
  margin-left: 16px;
}

.menuItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.menuName {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #010101;
  text-transform: uppercase;
}
